{% extends 'base.html' %}

{% block contenido %}

<body style="background-color: #212529;">
    <div style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; opacity: 0.2;">
        <img src="static/img/fondo.png" alt="Fondo" style="width: 100%; height: 100%; object-fit: cover;">
    </div>
    <div class="text-center my-5 text-white-50" >
        <h1 class="display-4">BLOG DE DIVULGACION CIENTÍFICA</h1>
        <p class="lead">Este espacio fue creado para que alumnos/as de 3er y 4to año de los colegios San Roque y Don Orione creen noticias y/o posts con temática relacionada a la actualidad científica.</p>
        <h2>"La verdad no cambia por ser o no creída por una mayoría de personas." G.B.</h2>
        <a href="{% url 'apps.posts:posts' %}" class="btn btn-primary btn-lg">Ver Posts</a>
        <div style="margin-top: 20px; display: flex; justify-content: center;">  <iframe width="750" height="500" src="https://www.youtube.com/embed/ZZsZFkFieg8?si=Ubk9ss8FO19ya1bw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
    
</body>


{% endblock %}