{% extends 'base.html' %}
{% load static %}
{% load colaborador_tags %}


{% block contenido %}


<div> <a href="?ordenar=fecha"><button>Ordenar por fecha</button></a>
    <a href="?ordenar=alfabetico"><button>Ordenar alfabeticamente</button></a>
</div>
<div>
    <a href="{% url 'apps.posts:posts' %}">Todas</a>
    {% for categoria in categorias %}

    <a href="?categoria={{categoria.nombre}}"> {{categoria.nombre}}</a>

    {% endfor %}
</div>
    
        

<div class= 'container-fluid' style="margin: 200px;">
   

{% if user.is_superuser or request.user|has_group:"Colaborador" %}
<div class="container-fluid" style="margin-top: 300px;">
    <a id="boton_post" href="{% url 'apps.posts:crear_post' %}">Crear nuevo post</a>
</div>

{% endif %}
    
    <!-- <div class="container-fluid" style="margin-top: 300px;">
        <a id="boton_post" href="{% url 'apps.posts:crear_post' %}">Crear nuevo post</a>
    </div> -->

    {% for i in posts %}

        <br>
        <li>{{ i.titulo }}</li>
        <li>{{ i.subtitulo }}</li>
        <li>{{ i.categoria }}</li>

        <a class='btn btn-primary' href="{% url 'apps.posts:post_individual' i.id %}"> Ingresar al post</a>
    
        <br>
       

        {% empty %}
        <h1>No hay registro</h1>

    {% endfor %}

</div>




{% endblock %}